ul {
    list-style-type: none;
    padding-left: 0;
    margin-bottom: 0;
}
ul li {
    display: inline-block;

}
ul li a {
    display: inline-block;
    color: rgb(253, 145, 4);
    opacity: 0,6;
    text-decoration: none;
    padding: 10px; 
    transition: all .07s ease-in-out;
}
ul li a:hover {
    opacity: 1;
}
.body {
  padding-top: 26px; /* высота navbar */
}
.container {
    margin-top: 20px;
}
button.btn {
    transition: all 0.2s ease;
}
button.btn:hover {
    transform: translateY(-2px);
    box-shadow: 0 4px 10px rgba(0,0,0,0.2);
}
