ul {
    list-style-type: none;
    padding-left: 0;
    margin-bottom: 0;
}
ul li {
    display: inline-block;

}
ul li a {
    display: inline-block;
    color: rgb(253, 145, 4);
    opacity: 0,6;
    text-decoration: none;
    padding: 10px; 
    transition: all .07s ease-in-out;
}
ul li a:hover {
    opacity: 1;
}
.navbar {
    position:static;
}